<div id="togglePost" class="hidden">
    <section>
        <h1>Post Killmail</h1>
        <div id="post">
            <b><u>Post CREST Link:</u></b>
            <p>Paste the CREST link from your kill report (Copy External Kill Link) into the box below.<br/> Remember to post your losses as well.<br/></p>
            <br/>
            <b>CREST-Link:</b>
            <form id="postform" name="postform" class="f_killmail" method="post" action="/post/">
                <input type="text" name="crestURL" id="crestURL" class="f_killmail" size="100">
                <input id="crestHash" name="crestHash" type="submit" value="Submit"/>
            </form>
        </div>
    </section>
    <br>
</div>