{% extends "base.twig" %}
{% set pageTitle = "Information" %}
{% set title = "Information" %}
{% set fullWidth = true %}
{% set showDate = false %}

{% block meta %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/css/scojs.min.css" integrity="sha256-X/S6bj3zqdJs4v8yl2OWoacgvpGRmjUJtjdreo3aEi8=" crossorigin="anonymous" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/js/sco.tooltip.js" integrity="sha256-D1cXcX/XEN8qmiAakjJ3d54Qq93MF4+WtdsTkSFZuLo=" crossorigin="anonymous"></script>
{% endblock %}

{% block rightContent %}
    <div class="block-header2">The Killboard</div>
    <p></p>

    <div class="block-header2">The Theme</div>
    <p></p>

    <div class="block-header2">Contact</div>
    <p></p>

    <div class="block-header2">3rd Parties</div>
    <p></p>
{% endblock %}

{% block leftContent %}
{% endblock %}