<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/404.css"/>
    <title>404</title>
</head>
<body>
    <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>4</span>
    </section>
</body>
</html>
