<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="EVEKill, a simple killboard"/>
    <meta name="keywords" content="EVE-Online, EVE, Multiplayer, Killboard, EVEKill, killmail"/>
    <meta name="google-site-verification" content="Yg96h99ajlHpEyV-XeuB-L1SdZXcosz_WIfkilNYRMQ" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favico/favicon-16x16.png">
    <link rel="manifest" href="/img/favico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Page Meta Tags -->
    {% block meta %}{% endblock %}

    <!-- Page Title -->
    <title>{% if title %}{{ title }}{% else %}Home{% endif %} | EVEKill</title>

    <!-- Site Font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">

    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <style type="text/css">
        #ToggleTarget {
            display: none;
        }
    </style>

    <!-- Page CSS -->
    {% block css %}{% endblock %}

    <!-- Site JS -->
    <script type="text/javascript" src="/js/generic.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" integrity="sha256-RWiU4omUU7tQ2M3wmRQNW9UL50MB4CucbRPCbsQv+X0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js" integrity="sha256-rMOSOM5HDzVEMoVZTv2189+RKSTSgY5ZKfTfap7q2zE=" crossorigin="anonymous"></script>
    <script>
        var postShown = false;
        showPost = function() {
            if(postShown == false) {
                $("#togglePost").removeClass("hidden");
                postShown = true;
            } else {
                $("#togglePost").addClass("hidden");
                postShown = false
            }
        }
    </script>
    <script>
        function Toggle() {
            var el = document.getElementById("ToggleTarget");
            if (el.style.display == "block") {
                el.style.display = "none";
            }
            else {
                el.style.display = "block";
            }
        }
    </script>
    <script>
        $(function() {
            $("#searchBox").typeahead({
                hint: true,
                highlight: true,
                }, {
                name: "search",
                display: "value",
                valueKey: "selected",
                limit: 50,
                source: function(query, syncResults, asyncResults) {
                    $.get("/api/search/all/" + query + "/", function(data) {
                        var imageServer = "https://imageserver.eveonline.com";
                        var results = [];
                        for(var key in data) {
                            var resultData = data[key];
                            if(resultData.length >= 1) {
                                resultData.forEach(function(res) {
                                    switch(key) {
                                        case "alliance":
                                            var d = {"type": key, "name": res["allianceName"], "id": res["allianceID"], "img": imageServer + "/Alliance/" + res["allianceID"] + "_32.png"};
                                            results.push(d);
                                            break;
                                        case "corporation":
                                            var d = {"type": key, "name": res["corporationName"], "id": res["corporationID"], "img": imageServer + "/Corporation/" + res["corporationID"] + "_32.png"};
                                            results.push(d);
                                            break;
                                        case "character":
                                            var d = {"type": key, "name": res["characterName"], "id": res["characterID"], "img": imageServer + "/Character/" + res["characterID"] + "_32.jpg"};
                                            results.push(d);
                                            break;
                                        case "region":
                                            var d = {"type": key, "name": res["regionName"], "id": res["regionID"], "img": ""};
                                            results.push(d);
                                            break;
                                        case "system":
                                            var d = {"type": key, "name": res["solarSystemName"], "id": res["solarSystemID"], "img": ""};
                                            results.push(d);
                                            break;
                                        case "item":
                                            var d = {"type": key, "name": res["name"]["en"], "id": res["typeID"], "img": imageServer + "/Type/" + res["typeID"] + "_32.png"};
                                            results.push(d);
                                            break;
                                    }
                                });
                            }
                        }
                        asyncResults(results);
                    });
                },
                templates: {
                    suggestion: function(data) {
                        return '<div class="searchResults" style="width: 338px; background: black;">' +
                               '<table>' +
                               '<tbody>' +
                               '<tr>' +
                               '<td><img src="'+ data.img+'"></td>' +
                               '<td><a href="/'+data.type+'/'+data.id+'">'+data.name+' ('+ truncate(data.type, 7, true) +')</a></td>' +
                               '</tr>' +
                               '</tbody>' +
                               '</table>' +
                               '</div>';
                    }
                }
            });
        });
    </script>

    <!-- Page JS -->
    {% block js %}{% endblock %}
</head>

<!-- Start of the body -->
<body style="height: 100%">
    <!-- Back To Top -->
    <div class="backtotop" style="position: fixed; margin-bottom: 25px; margin-right: 50px; bottom: 0; right: 0" alt="Back to Top">
        <a style="position: relative; bottom: 0; right: 0;" href="#top">
            <img src="/img/arrow-up.png" title="Back to Top">
        </a>
    </div>

    <!-- Popup -->
    <div id="popup"></div>
        <div align="center" id="popup" style="display: none; position: absolute; top: 217px; width: 99%; z-index: 3; padding: 5px;">
    </div>

    <!-- Content? -->
    <div id="repository">
        <br>
        <div id="contentkb">
            <section>
                <!-- Main navbar -->
                {% include "global/navbar.twig" %}

                <!-- Dropdowns-->
                {% include "global/postKillmail.twig" %}
                {% include "global/search.twig" %}

                <!-- Page Content Section -->
                <section>
                    <!-- Page Header -->
                    <headerkb><h1>{{ pageTitle }}</h1></headerkb>

                    <!-- Right side Main Content -->
                    <div id="content" {% if fullWidth == true %}style="width: 100%;"{% endif %}>
                        {% block rightContent %}{% endblock %}
                    </div>

                    <!-- Left side Content -->
                    <div id="context">
                        {% block leftContent %}{% endblock %}
                    </div>

                    <div id="footerarea">
                        <br>
                        <div class="counter"></div>
                        <br>
                        <div class="footerbacktotop2" style="float: left">
                            <a href="http://evekb.org/forum/viewtopic.php?f=1033&t=18159">EVE+</a> theme by <a href="http://gate.eveonline.com/profile/vecati">Vecati</a>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</body>
</html>
